USE [Chase_Hovel_Project1]
GO
/****** Object:  Table [dbo].[MainDistributor]    Script Date: 2/2/2021 5:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainDistributor](
	[MainDistributorID] [int] NOT NULL,
	[MainDistributorName] [nvarchar](40) NULL,
	[MainDistributorCountry] [int] NOT NULL,
 CONSTRAINT [PK_MainDistributor] PRIMARY KEY CLUSTERED 
(
	[MainDistributorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
