USE [Chase_Hovel_Project1]
GO
/****** Object:  Table [dbo].[RoadNames]    Script Date: 2/2/2021 5:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoadNames](
	[RoadNames] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
